@import "../../constants/variables.scss";

.container {
  margin: 0 auto;
  text-align: center;
  padding: 1rem 2rem;
  width: 30vw;
  margin-top: 5rem;
  font-size: 1.3rem;

  img {
    width: 8rem;
    border-radius: 8px;
  }
}
